/* GRAY COLOR CYCLE EFFECT http://clrs.cc/ */
@keyframes gcycle {    0%{ background:#fafafa }
                      10%{ background:#f4f4f4 }
                      20%{ background:#eeeeee }
                      30%{ background:#dadada }
                      80%{ background:#eeeeee }
                      90%{ background:#f4f4f4 }
                     100%{ background:#fafafa }    }              
.gray-cycle { -webkit-animation:gcycle 2s linear infinite; animation:gcycle 2s linear infinite }

/* HEADER */
header { margin: 20px; }
header h1 { display: inline-block; font-size: 100px; font-family: "Bungee Shade"; font-weight: bold; }
.git h1 { color: #FF851B; }
.yadoom h1 { color: #FF0084; }

/* JUMBOTRON */
.jumbotron { margin: 60px; padding: 0; border: 0; }
.jumbotron h1 { font-size: 38px; font-weight: normal; }
.jumbotron h2 { font-size: 38px; font-weight: bold; }
.jumbotron h3 { font-size: 25px; font-weight: normal; color:#AAAAAA }

/* GITHUB CARD */
.card { width: 600px; padding-bottom: 110px; }
.card span { font-size: 40px; }

/* SHRINK ADJUSTMENTS */
@media only screen and (max-width: 1200px) { .card      { width: 290px;     } }                 
@media only screen and (max-width: 990px) { .jumbotron { margin-top: 200px; } }  
@media only screen and (max-width: 600px) { header h1  { font-size: 70px;   }
                                            .jumbotron { margin-top: 120px; } }     
@media only screen and (max-width: 550px) { .jumbotron { margin-top: 70px; } }                           